body {
    font-family: 'Open Sans', sans-serif !important;
}

.container {
    max-width: 1600px !important;

    .btn > svg {
        vertical-align: top;
        margin-left: 12px;
        margin-top: 4px;
    }
}

.Window {
    border: 1px solid #ebebeb;
}

.WindowFooter {
    border-top: 1px solid #ebebeb;
}

.WindowHeader {
    padding: 5px 13px 5px 19px;
    background: #dcdcdc;
    color: #333333;
}

.MemoryViewBody {
    > div > div {

        > span {
            display: inline-block;
            width: calc((100% - 120px) / 16);
            padding: 0 13px 0 19px;
            text-align: right;

            &:first-child {
                width: 120px;
                background-color: #ebebeb;
            }
        }
    }
}

.StackViewBody {
    > div > div {

        > span {
            display: inline-block;
            width: calc((100% - 120px) / 4);
            padding: 0 13px 0 19px;
            text-align: right;

            &:first-child {
                width: 120px;
                background-color: #ebebeb;
            }
        }
    }
}